/* Navbar styling */
.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    padding: 10px 15px;
    color: #0b0b0b;
    /* Change to white for visibility on dark background */
    text-decoration: dashed;
    background-color: rgb(240, 177, 41);
    /* Semi-transparent background */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(232, 142, 17, 0.8);
    /* More visible hover effect */
    color: #fffcfc;
    /* Keep the text color white on hover */
}

.nav-link:active {
    background-color: #cb8111;
    /* Darker background on active */
}